#name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.75em;
  padding: 0.5em;
  width: 90%;
  border: 2px solid hsl(320deg 100% 81%);
  background: rgba(255, 255, 255, 0.5);
}
#name:focus {
  outline: 2px solid hsl(189deg 100% 35%);
}
