canvas {
  border: 2px solid green;
  background-color: white;
}
.settings {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, serif;
  button {
    display: block;
    padding: 0.5em 2.5em;
    margin: 3.5em 0;
    outline: none;
    border: none;
    border-radius: 2em;
  }
}
@media all and (max-width: 500px) {
  .settings {
    flex-direction: column;
    align-items: center;
  }
}
